@model Account

<style>
    td,
    tr {

        border: 0.5px solid rgb(0, 0, 0);
        white-space: nowrap;
        text-align: center;
       
    }

    tr:hover {
        background-color: rgb(251, 251, 0);
        color: rgb(1, 1, 1);

    }

    .selected {
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
    }

    .row>* {

        padding-right: 0 !important;
        padding-left: 2px !important;

    }
</style>


<div class="card p-3" style="zoom: 80%;">

    @* ViewBag.Message *@
    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger text-center">
            @ViewBag.Error
        </div>
    }



    <div class="row p-3">


            <div class=" ">

         <form action="/hesabha/group" method="post">

                <div class="row alert alert-primary p-3 ">
                    <p class="text-center alert alert-success fs-large text-black">معرفی گروه حساب ها</p>

                    

                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12  "
                        style="padding-left: 20px  !important;padding-right: 20px  !important;">




                        @* 3*@


                        <div class="row">

                            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12">
                                <label class="p-1 text-center "> عنوان گروه : </label>
                            </div>



                            <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-9 col-12">
                                <input asp-for="TitleGroup" required type="text" class="form-control">

                            </div>




                        </div>














                    </div>

                  

                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12  "
                        style="padding-left: 20px  !important;padding-right: 20px  !important;">



                        <div class="row">

                            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12">
                                <label class="p-1 text-center "> ماهیت: </label>
                            </div>

                            <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-9 col-12">

                                <select class="form-select text-center " asp-for="Nature">

                                    <option value="ترازنامه ای">ترازنامه ای</option>
                                    <option value="سود و زیانی">سود و زیانی</option>
                                    <option value="انتظامی">انتظامی</option>
                                </select>


                            </div>




                        </div>

                    </div>

<div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-12 text-center " >

                    <button type="submit" class="btn btn-warning form-control" >ثبت</button>


                </div>



                </div>





                <div class="col-12 card mt-5   " style="overflow-x: scroll;">
                    <div class="row justify-content-center text-center">
                        <div class="col-3 mt-3  ">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="برای جستجو متن رو وارد کنید ..."
                                    aria-label="Recipient's username" aria-describedby="button-addon2">
                                <button class="btn btn-primary" type="button" id="button-addon2">جستوجو</button>
                            </div>
                        </div>

                    </div>

           </form>


        <div class="card-body " style="zoom: 90%;">

            <table class="table table-bordered " id="myTable">

                <tr style="background-color: whitesmoke;">
                    <th>ردیف</th>
                    <th>کد گروه</th>
                    <th>شرح گروه</th>
                    <th>کد کل</th>
                    <th>شرح کل </th>
                    <th>کد معین</th>
                    <th>شرح معین</th>
                    <th>ماهیت</th>
                    <th>نوع حساب</th>
                    <th>عملیات</th>

                </tr>


                    @{
                        int i = 1;
                    }

                    @foreach (var item in ViewBag.Group)
                    {
                            <tr>
                            <td>@i</td>
                            <td>@item.CodeGroup</td>
                             <td>@item.TitleGroup</td>
                              <td>@item.CodeTotal</td>
                               <td>@item.TitleTotal</td>

                               <td>@item.CodeMoin</td>
                               <td>@item.TitleMoin</td>

                                <td>@item.Nature</td>

                                <td>@item.Account_type</td>

                             





                                 <td>
                            <a href="/hesabha/deletegroup/@item.Id" class="btn btn-danger form-control"
                                onclick="return confirm('آیا از حذف مطمن هستید؟')">حذف </a>

                                </td>


                                 </tr>
                        i++;


                    }








            </table>

        </div>
    </div>



</div>

</div>

<script>
    // Get all table rows
    const rows = document.querySelectorAll("#myTable tr");

    // Add click event listener to each row
    rows.forEach(row => {
        row.addEventListener("click", function () {
            // Remove the 'selected' class from all rows
            rows.forEach(row => {
                row.classList.remove("selected");
            });

            // Add the 'selected' class to the clicked row
            this.classList.add("selected");
        });
    });
</script>